@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";


body
{
    padding: 0;
    margin: 0;
}

.menu-principal
{
    position: fixed;
    width: 100%;
    z-index: 6;
}

.menu-principal a
{
    font-weight: 600;
    color: rgb(19, 18, 18);
    text-decoration: none;
}

.info-menu a
{
    font-weight: 500;
    color: rgb(19, 18, 18);
    font-size: 16px;
}

.btn-car
{
    background-color: #02050e;
    color: white;
    border: 2px solid #02050e;
    height: 40px;
    width: auto;
    font-weight: 600;
}

.btn-car:hover
{
    border-color: #02050e;
    background-color: #00d8c9;
}

.btn-login
{
    background-color: #00d8c9;
    color: white;
    border: 2px solid #00d8c9;
    height: 40px;
    width: 80px;
    font-weight: 600;
    outline: none;
}

.btn-login:hover
{
    border-color: #00d8c9;
    background-color: #02050e;
}

.input-principal
{
    width: 50%;
    height: 70px;
    display: block;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px 20px;
    font-size: 24px;
    border: 2px solid white;
    border-right: 0;
    color: #fff;
    font-weight: 400;
    font-family: Poppins,Helvetica,sans-serif;
    position: absolute;
    margin-left: 20%;
    margin-top: 20%;
    outline: none;
}

.btnSearch-mainMenu
{
    width: 60px;
    height: 70px;
    display: block;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px 20px;
    font-size: 24px;
    border: 2px solid white;
    border-left: 0;
    color: #fff;
    font-weight: 400;
    font-family: Poppins,Helvetica,sans-serif;
    position: absolute;
    margin-left: 70%;
    margin-top: 20%;
    outline: none;
}

.titleSongMain
{
    margin-left: 320px;
    margin-top: 450px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.artistSongMain
{
    margin-left: 320px;
    margin-top: 485px;
    position: absolute;
    color: rgb(7, 6, 6);
    font-weight: 500;
}

#grafico-musica
{
    width: 100%;
    height: 135px;
    padding: 0;
    margin-bottom: 5%;
    /*padding-top: 63px;*/
    overflow: hidden;
    background: #09c3e4;
    background: -moz-linear-gradient(-45deg, #09c3e4 0%, #70e6e6 100%);
    background: -webkit-linear-gradient(-45deg, #09c3e4 0%, #70e6e6 100%);
    background: linear-gradient(135deg, #09c3e4 0%, #70e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
    font-family: "Helvetica Neue", "Futura", "Trebuchet MS", Arial;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.quadrado-play
{
    width: 140px;
    height: 140px;
    background-color: transparent;
    border: 3px solid white;
    margin-left: 11%;
    position: absolute;
    margin-top: -7%;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.quadrado-play div
{
    margin-top: 30px;
}

.bg2
{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
}

.btn_play1
{
    background: transparent;
    border: none;
    position: absolute;
    outline: none;
}

#menu-musicas-titulos li
{
    color: rgb(68, 67, 67);
    font-weight: 600;
    list-style: none;
    display: flex;
    width: 90%;
}

.titulo  {width: 31%;}
.duracao {width: 18%;}
.genero  {width: 20%;} 
.opcoes  {width: 20%; text-align: center;}

#menu-musicas-playlist
{
    margin-bottom: 2%;
}

#menu-musicas-playlist li
{
    height: 44px;
    color: #02050e;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .01em;
    padding: 0 10px 0 0;
    border-bottom: 1px solid rgba(127, 127, 127, .2);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    list-style: none;
    display: flex;
    width: 90%;
}

.tituloMusica {width: 32%;}
.subDuracao   {width: 18%; margin-top: 11px;}
.subGenero    {width: 20%; padding-top: 12px;}
.subOpcoes    {width: 30%; padding-top: 5px; text-align: right;}

#menu-musicas-playlist li article i:nth-child(2)
{
    margin-left: 5%;
}

.btn-car-add
{
    background-color: #02050e;
    color: white;
    border: 2px solid #02050e;
    height: auto;
    width: 70px;
    font-weight: 700;
    font-size: 12px;
    padding: 5px;
    margin-left: 5%;
    outline: none;
}

#btn-AllAudio
{
    background-color: #00d8c9;
    border: 2px solid #00d8c9;
    color: white;
    height: 44px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}

#btn-AllAudio:hover
{
    border-color: #00d8c9;
    background-color: #02050e;
}

#informacao
{
    background-color: #02050e;
    padding-top: 8%;
}

.tit-info
{
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5%;
}

.div-info article
{
    display: block;
    background-color: #09c3e4;
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-info p
{
    display: flex;
}

.div-info article:nth-child(2)
{
    display: block;
    background-color: #fff;
    color: rgb(51, 51, 51);
    text-align: left;
}

.div-info article i
{
    margin-top: 6px;
    margin-left: 3%;
    margin-right: 2%;
    margin-bottom: 4%;
    font-size: 10px;
    color: #00d8c9;
}

.div-licenca
{
    display: flex;
    justify-content: center;
}

.btn-licenca
{
    background-color: #00d8c9;
    border: 2px solid #00d8c9;
    color: white;
    height: 44px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    outline: none;
}

.btn-licenca:hover
{
    border-color: #00d8c9;
    background-color: #02050e;
}

.texto-promo
{
    font-size: 16px;
    font-weight: 600;
}

#contato h3
{
    font-size: 44px;
    color: #FFF;
}

#contato label
{
    color: white;
    font-size: 20px;
    margin-left: 2%;
}

#contato input
{
    width: 100%;
    height: 34px;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 10px;
    color: white;
}

#contato textarea
{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    color: white;
}

/*CODIGOS RELACIONADOS AO PROGRESS BAR*/

#seek-bar
{
    width: 99.8%;
    height: 8px;
    background-color: gray;
    display: flex;
    border-radius: 0px;
    margin-left: 0%;
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
    z-index: 99;
}

#fill
{
    height: 8px;
    background: #00d8c9;
    border-radius: 20px;
    z-index: 99;
}

#handle
{
    width: 8px;
    height: 8px;
    background: #00d8c9;
    border-radius: 50%;
    margin-left: 2px;
    transform: scale(2);
    z-index: 99;
}

/*CÓDIGOS RELACIONADOS AO PAINEL DE SOM*/

#painel-player
{
    position: absolute;
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 80px;
    display: flex;
    visibility: visible;
}

#bg
{
    width: 80px;
    margin-right: 3%;
}

#painel-player ul
{
    list-style: none; 
    display: flex; 
    margin: 0; padding: 0; 
    width: 100%;
}

#painel-player span
{
    width: 100%;
}

#painel-player ul li:first-child
{
    width: 25%; 
    display: flex;
    cursor: pointer;
}

#painel-player ul li:nth-child(2)
{
    width: 15%;
    display: flex;
}

#painel-player ul li:nth-child(3)
{
    width: 15%;
    display: flex;
    justify-content: center;
}

#painel-player ul li:nth-child(4)
{
    width: 16%;
    padding-left: 20px;
    display: flex;
}

#painel-player ul li:nth-child(5)
{
    width: 16%;
    padding-left: 20px;
    display: flex;
}

#volume
{
    width: 14%;
    display: flex;
    justify-content: center;
    padding-top: 23px;
}

.btnVol
{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background-color: #00d8c9;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 0;
    outline: none;
}

#volumeIcon
{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background-color: #00d8c9;
    border: none;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1px;
    padding-right: 1px;
    outline: none;
}

#painel-player h5
{
    margin-top: 15px;
    margin-right: 2%;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

#painel-player h6
{
    margin-right: 2%;
    font-size: 12px;
    font-weight: 600;
    color: rgb(53, 53, 53);
}

#btn-shareSong
{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 5%;
    background-color: transparent;
    border: none;
    font-size: 26px;
    outline: none;
}

#btn_repeat
{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 10%;
    background-color: transparent;
    border: none;
    font-size: 26px;
    outline: none;
}

#btn_listSong
{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    margin-right: 10%;
    background-color: transparent;
    border: none;
    font-size: 26px;
    outline: none;
}

#btn_listSong i
{
    color: black;
}

.btn_play 
{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    -moz-border-radius: 60px; 
    -webkit-border-radius: 60px;
    background-color: #00d8c9;
    border: none;
    padding: 1px;
    margin-top: 10px;
    margin-right: 7%;
    margin-left: 7%;
    outline: none;
}

.pass-song
{
    margin-top: 25px;
    margin-right: 2%;
    outline: none;
}

#currentTime
{
    font-size: 24px;
    opacity: 0.9;
    font-weight: 300;
    color: rgb(7, 7, 7);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    margin-top: 22px;
}

.btn {
  position: absolute;
  cursor: pointer;
  opacity: 0.9;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
.btn:hover {
  opacity: 1;
}

#divBtnBuy
{
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 21px;
    border-left: rgba(84, 84, 85, 0.767) 1px solid;
}

.btnBuyPainel
{
    background-color: #02050e;
    color: white;
    border: 2px solid #02050e;
    height: 40px;
    width: 122px;
    font-weight: bolder;
    outline: none;
}

.btnBuyPainel:hover
{
    border-color: #00d8c9;
}

/*Referente ao painel de controle das musicas*/
@media(max-width: 992px)
{
    #divBtnBuy{display: none; width: 0px;}

    #painel-player ul li:first-child {width: 30%;}

    #painel-player ul li:nth-child(4){width: 25%;}
}

@media(max-width: 862px)
{
    #volume{visibility: hidden; width: 0px;}

    #painel-player ul li:first-child {width: 50%;}

    #painel-player ul li:nth-child(2){width: 33%;}

    #painel-player ul li:nth-child(3){width: 26%;}

    #painel-player ul li:nth-child(4){display: none;}
}

@media(max-width: 720px)
{
    #painel-player ul li:first-child {width: 55%;}

    #painel-player ul li:nth-child(3){width: 41%;}

    #painel-player ul li:nth-child(2){display: none;}

    #painel-player h5{font-size: 15px;}
}

/*Referente a lista de musica*/

@media(max-width: 992px)
{
    .duracao {display: none;}
    .subDuracao{display: none;}
    .tituloMusica{width: 50%;}
    .titulo{width: 50%;}
}

@media(max-width:768px)
{
    .genero{display: none;}
    .subGenero{display: none;}
    .tituloMusica{width: 70%;}
    .titulo{width: 70%;}
}

@media(max-width:530px)
{
    #menu-musicas-playlist li article i:nth-child(2)
    {
        display: none;
    }
}
